data/
!tests/data/
**__pycache__**
wandb
efold/models/trained_models
lightning_logs
models/*
trash_project_for_testing
.DS_Store
test_models
predict*
.env
bppm/test_results_PT+FT.feather
.DS_Store
build/
efold.egg-info
